=====
Lower
=====

.. contents::
   :local:
   :depth: 2
   
- The function 'Lower' converts the string value to lower case.       

Function Parameters
===================

- **text**:
    - Required: Yes
    - Type: Any JsonQL expression that evaluates to string.

Examples
========
    
.. sourcecode:: json

    <IncludedFilePlaceHolder>Examples.json</IncludedFilePlaceHolder>