<?xml version="1.0" encoding="utf-8"?>

<log4net>	
	<appender name="AnsiColorTerminalAppender" type="log4net.Appender.AnsiColorTerminalAppender">
		<mapping>
			<level value="FATAL" />
			<foreColor value="Red" />
			<backColor value="White" />
			<attributes value="Bright,Underscore" />
		</mapping>

		<mapping>
			<level value="ERROR" />
			<foreColor value="Red" />
			<attributes value="Bright,Underscore" />
		</mapping>

		<mapping>
			<level value="WARN" />
			<foreColor value="Yellow" />
		</mapping>

		<mapping>
			<level value="INFO" />
			<foreColor value="White" />
		</mapping>

		<mapping>
			<level value="DEBUG" />
			<foreColor value="Yellow" />
			<attributes value="Bright,Underscore" />
		</mapping>

		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern
				value="[%date] [%-5level]: %message [L:%logger] [%4thread] %exception%newline" />
		</layout>

		<filter type="log4net.Filter.LevelRangeFilter">
			<!-- Change levelMin to be your log level: DEBUG,INFO,WARN,ERROR,FATAL -->
			<levelMin value="DEBUG" />
			<!-- Leave levelMax at FATAL -->
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="c:/LogFiles/JsonQL.Demos.log" />
		<preserveLogFileNameExtension value="true" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<datePattern value=".yyyy-MM-dd" />
		<maxSizeRollBackups value="7" />
		<maximumFileSize value="50MB" />
		<staticLogFileName value="false" />
		<countDirection value="1" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] [%-5level]: %message [L:%logger] [%4thread] %exception%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<!-- Change levelMin to be your log level: DEBUG,INFO,WARN,ERROR,FATAL -->
			<levelMin value="DEBUG" />
			<!-- Leave levelMax at FATAL -->
			<levelMax value="FATAL" />
		</filter>
	</appender>	
	
	<root>
		<!-- Don't change this - leave at DEBUG.  To change logger level change RollingFile appender filter/levelMin setting instead.  -->
		<level value="INFO" />		
		<appender-ref ref="AnsiColorTerminalAppender" />
		<appender-ref ref="RollingFileAppender" />
		<!--<appender-ref ref="EventLogAppender" />-->		
	</root>
</log4net>