===
Len
===

.. contents::
   :local:
   :depth: 2
   
- The function 'Len' returns length of a string.  

Function Parameters
===================

- **text**:
    - Required: Yes
    - Type: Any JsonQL expression that evaluates to string.

Examples
========
    
.. sourcecode:: json

    <IncludedFilePlaceHolder>Examples.json</IncludedFilePlaceHolder>