==========================================
Value is Null or Undefined Check Operators
==========================================

.. contents::
   :local:
   :depth: 2
   
The operators in sections that follow are used to check whether referenced JSON value is null or undefined.

.. toctree::
   
   IsNull/index.rst
   IsNotNull/index.rst
   IsUndefined/index.rst
   IsNotUndefined/index.rst
   Examples/index.rst