=============
Custom JsonQL
=============

.. contents::
   :local:
   :depth: 2
   
JsonQL is designed to be extensible, allowing you to create custom functions, aggregate functions, JSON path functions (e.g., functions like `Where`, `Select`), aggregate functions, operators, special literals (e.g., JsonQLReleaseDate) that evaluate to custom values, and interface implementations.

.. toctree::
   
   overview.rst
   Example/index.rst