var additionalTestData = new JsonTextData(
    "AdditionalTestData",
    this.LoadExampleJsonFile("AdditionalTestData.json"));

var countriesJsonTextData = new JsonTextData(
    "Countries",
    this.LoadExampleJsonFile("Countries.json"), additionalTestData);

var companiesJsonTextData = new JsonTextData("Companies",
    this.LoadExampleJsonFile("Companies.json"), countriesJsonTextData);

// Create an instance of JsonQL.Compilation.JsonCompiler here.
//This is normally done once on application start.
JsonQL.Compilation.IJsonCompiler jsonCompiler = null!;

var result = jsonCompiler.Compile(new JsonTextData("Overview",
    this.LoadExampleJsonFile("Overview.json"), companiesJsonTextData));
