=========
Data.json
=========

.. sourcecode:: json
  
  <IncludedFilePlaceHolder>..\..\Examples\IQueryManagerExamples\SuccessExamples\ResultAsObject\ResultAsNonNullableEmployeesList\Data.json</IncludedFilePlaceHolder>