====================
Comparison Operators
====================

.. contents::
   :local:
   :depth: 2
   
Comparison operators are used to compare values and are described in sections below.
    
.. note::
    Section :doc:`Examples/index` has examples for every arithmetic operator.

.. toctree::
   
   Equals/index.rst
   NotEquals/index.rst
   LessThan/index.rst
   LessThanOrEquals/index.rst
   GreaterThan/index.rst
   GreaterThanOrEquals/index.rst
   Examples/index.rst