===================
Aggregate Functions
===================

.. contents::
   :local:
   :depth: 2
   
- TODO: Add contents here...

.. toctree::

   All/index.rst
   Average/index.rst
   Count/index.rst
   Sum/index.rst
   Any/index.rst
   Min/index.rst
   Max/index.rst
   