============================================
ReusingCompiledJsonFilesExample/Example.json
============================================

.. contents::
   :local:
   :depth: 2

.. sourcecode:: json

     <IncludedFilePlaceHolder>..\..\Examples\ReusingCompiledJsonFilesExample\Example.json</IncludedFilePlaceHolder>
