====================
Arithmetic Operators
====================

.. contents::
   :local:
   :depth: 2
   
Arithmetic operators are used to perform mathematical operations and are described in sections below.
    .. note::
        Section :doc:`Examples/index` has examples for every arithmetic operator.

.. toctree::   
   
   Add/index.rst
   Subtract/index.rst
   Multiply/index.rst
   Divide/index.rst
   Modulus/index.rst
   Negate/index.rst
   Examples/index.rst